<h1>{{bucketName}}</h1>
<h2>Properties</h2>
<p>Leave r, w and dw empty for quorum</p>
<form class="form-horizontal" ng-submit="saveProps()">
    <div class="control-group">
        <label class="control-label" for="nVal">n:</label>
        <div class="controls">
            <input id="nVal" type="number" ng-model="props.n_val" min="0" quorum>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="rVal">r:</label>
        <div class="controls">
            <input id="rVal" type="number" ng-model="props.r" placeholder="quorum" min="1" quorum>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="wVal">w:</label>
        <div class="controls">
            <input id="wVal" type="number" ng-model="props.w" placeholder="quorum" min="1" quorum>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="dwVal">dw:</label>
        <div class="controls">
            <input id="dwVal" type="number" ng-model="props.dw" placeholder="quorum" min="1" quorum>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="prVal">pr:</label>
        <div class="controls">
            <input id="prVal" type="number" ng-model="props.pr" min="0">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="pwVal">pw:</label>
        <div class="controls">
            <input id="pwVal" type="number" ng-model="props.pw" min="0">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Bucket options</label>

        <div class="controls">
            <label>
                <input type="checkbox" ng-model="props.allow_mult">
                Allow_mult
            </label>
            <label>
                <input type="checkbox" ng-model="props.basic_quorum">
                basic_quorum
            </label>
            <label>
                <input type="checkbox" ng-model="props.notfound_ok">
                notfound_ok
            </label>
        </div>
    </div>
    <div class="control-group">
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Save"/>
            <button type="reset" class="btn">Reset</button>
        </div>
    </div>
</form>

<h2>Keys</h2>
<table class="table">
    <caption>List of keys in bucket</caption>
    <thead>
    <tr>
        <th>Key</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="key in keys">
        <td><a href="#/buckets/{{bucketName}}/keys/{{key}}">{{key}}</a></td>
        <td>
            <a class="btn btn-danger" href="#"><i class="icon-trash"></i> Delete</a>
        </td>
    </tr>
    </tbody>
</table>