<h1>MapReduce</h1>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="buckets">Bucket:</label>
        <div class="controls">
            <input id="buckets" type="text" ng-model="job.inputs"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="timeout">Timeout (ms):</label>
        <div class="controls">
            <input id="timeout" type="number" ng-model="job.timeout"/>
        </div>
    </div>

    <h2>Queries</h2>
    <div class="well well-small">
        <tabs>
            <pane ng-repeat="phase in job.query" heading="{{$index+1}}: {{getPhaseType(phase)}}">
                <div class="control-group">
                    <label class="control-label" for="language{{$index}}">Language:</label>
                    <div class="controls">
                        <select id="language{{$index}}" ng-model="getPhase(phase).language" ng-options="l for l in ['javascript', 'erlang']">
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="source{{$index}}">Source:</label>
                    <div class="controls">
                        <textarea id="source{{$index}}" ng-model="getPhase(phase).source" rows="10" style="width: 95%"></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox"><input type="checkbox" ng-model="getPhase(phase).keep"> <span tooltip="Include in final result?">Keep</span></label>
                    </div>
                </div>
            </pane>
        </tabs>
    </div>
    <div class="control-group">
        <div class="controls">
            <a ng-click="performMapReduce()" class="btn btn-primary">Execute <i class="icon-play"></i></a>
        </div>
    </div>
</form>
<div modal="showResultDialog" close="close()" options="{dialogFade: true, backdropFade: true}">
    <div class="modal-header">
        <h1>Map reduce job result</h1>
    </div>
    <div class="modal-body">
        <p ng-hide="result" style="text-align: center"><i class="icon-spinner icon-4x icon-spin"></i></p>
        <pre ng-show="result">{{result|json}}</pre>
    </div>
    <div class="modal-footer">
        <button class="btn" ng-click="showResultDialog=false">Close</button>
    </div>
</div>